body{

    height: 100%;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    
}
#header-container {
    
    border-radius: 12px;
    justify-content: center;
    background-color: #007acc;                 /* Fondo azul */
    color: white;                              /* Texto blanco */
    text-align: center;                        /* Texto centrado */
    padding: 20px 0;                           /* Espaciado vertical */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);   /* Sombra sutil */
    font-size:15px;                           /* Tamaño del texto */

}
div{

    margin: 0.5%;
    padding: 5px;
}
.container{

    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #608096;
    border-radius: 20px;
    margin: 0.5%;
    padding: 20px;
}
#marco{

    width: 30%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 12px;
    max-width: 90%;
    margin: auto;
}
#information{

    width: 65%;
    padding: 10px;
}

#photo-profile{

    max-width: 100%;
    height: auto;
    justify-content: center;
    box-shadow: 0 2px 5px rgb(0 0 0 /30%);
    border-radius: 12px;
}



footer{

    background-color: #d3d3d3;
    border-radius: 10px;
    justify-content: center;
    flex: 1;

}

.link:hover {
    
    color: red;
}
.logo{

    justify-content: center;
    height: 20px;
}